.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginTitle {
    font-size: 50px;
    color: var(--teal);
    font-weight: 500;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: var(--powder);
}

.loginForm > label {
    margin: 10px 0;
}

.loginInput {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #48a893;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: coral;
}

.loginRegisterButton {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: var(--teal);
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 100px;
    color: white;
    border-radius: 10px;
}